@model Midly.ViewModels.MovieGenreViewModel
@{
    ViewBag.Title = "AddNewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie<span class="bg-warning">  !!Cannot create new user</span></h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <!--
            @Html.LabelFor(m => m.Genre)


        SelectList(Model.Genre, "GenreId", "GenreType")
        Model.Genre -- genre model
        GenreId -- key
        GenreType -- value

        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genre, "Id", "GenreName"), "Select Genre type", new { @class = "form-control" })
            -->
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m => m.Movie.Genre.Id, new SelectList(Model.Genre, "Id", "GenreName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Genre.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Stock)
        @Html.TextBoxFor(m => m.Movie.Stock, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

}